$dark-blue: #2c3e50 !default;
$secondary: $dark-blue !default;

.navbar-brand {
    width: 3rem;
    display: inline-block;
}

.navbar-nav > li {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.card {
    margin: auto;
    max-width: 430rem;
    height: 26rem;
}

.carousel {
    padding-bottom: 50px;
}

.card-img-top {
    margin: auto;
    padding: 0.25rem;
    max-width: 200px;
}

.carousel-indicators li {
    color: black;
    background-color: black !important;
    margin-top: 2rem;
}

.fade-in {
    animation: fadeIn ease 2s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
   .carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   }

   .carousel-indicators li {
       color:black;
   }

   .carousel-indicators {
       color: black;
   }
@import "../../node_modules/bootstrap/scss/bootstrap";

.intro {
   padding-top: 1rem;
   padding-bottom: 3rem;
   color: white;
  .intro-heading {
    text-decoration: underline;
    text-decoration-color: $secondary;
    font-size: 3rem !important;
    line-height: 2.75rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
    .intro-headshot {
        width: 15rem;
    }
}

.intro-subheading {
    color: $secondary;
    font-size: 1rem !important;
    padding: 0.5rem;
    opacity: 0;
    animation-delay: 1s;
}

.delay-2 {
    animation-delay: 2s;
}

.delay-3 {
    animation-delay: 3s;
}

@include media-breakpoint-up(lg) {
    .intro {
      padding-top: calc(3rem + 50px);
      padding-bottom: 3rem;
      .intro-heading {
        font-size: 5rem;
        line-height: 3.5rem;
      }
      .intro-subheading {
        font-size: 1.5rem;
      }
  
    }
}

.socials .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
    padding-top: 5rem;


  .socials .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
}

.socials h1 {
    padding-top: 5rem;
    color: $secondary;
    text-decoration: underline;
    text-decoration-color: $primary;
}
.socials h2 {
    padding-top: 1rem;
    font-weight: 400;
    color: $secondary;
}
.socials {
    text-align: center;
}

@include media-breakpoint-down(md) {
    .socials .col-lg-4 {
        padding-top: 1rem;
    }
    .socials-img {
        width: 6rem;
    }
}

.projects {
    width: 80%;
    padding-bottom: 5rem;
    padding-top: 2rem;
    h1 {
        padding-bottom: 3rem;
        padding-top: 3rem;
    }
}

.resume {    
    padding-top: 15rem;
    padding-bottom: 15rem;
    background-color: rgba($color: $primary, $alpha: 1.0);
}
.resume-btn {
    color: white !important; 
    border: solid white 1px;
}

.card-title {
    font-size: 1.5em;
    padding-bottom: 0.5rem;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: $primary;
}

.tools {
    font-size: x-small;
}

.card-text {
    font-size: x-small;
}

@include media-breakpoint-up(md) {
    .tools {
        font-size: small;
    }

    .card-text {
        font-size: large;
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .card-img-top{
        max-width: 450px;
    }
    .card {
        height: 40rem;
    }

    .card-title {
        font-size: xx-large;
    }
}